@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
.nav-container {
  width: 100%;
  height: 10vh;
  background-color: #000;
  color: #fff;
}

.nav-container nav {
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav-container nav .nav-logo h2 {
  margin-left: 1rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav-container nav .nav-logo img {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-container nav ul li {
  position: relative;
  padding: 1rem;
}

.nav-container nav ul li:hover {
  color: #f95959;
}

.nav-container nav ul .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #f95959;
}

.nav-container nav ul a {
  color: #fff;
  text-decoration: none;
}

.nav-container nav .hamburger-menu {
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.nav-container nav .hamburger-menu div {
  background-color: white;
  width: 26px;
  height: 3px;
  border-radius: 1px;
  margin-bottom: 4px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.nav-container nav .hamburger-menu.open .one {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}

.nav-container nav .hamburger-menu.open .two {
  opacity: 0;
}

.nav-container nav .hamburger-menu.open .three {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

.topbar {
  width: 100%;
  max-height: 500px;
  position: absolute;
  top: -50vh;
  left: 0;
  background-color: #000;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.topbar ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar ul li {
  width: 100%;
  padding: 1rem;
  color: #fff;
  border-bottom: 1px solid #f95959;
  text-align: center;
}

.topbar ul li:hover {
  color: #f95959;
}

.topbar ul .active {
  color: #f95959;
}

.topbar ul a {
  color: #fff;
  text-decoration: none;
}

.topbar.open {
  -webkit-transform: translateY(59vh);
          transform: translateY(59vh);
}

.hero-container {
  height: 90vh;
  background: url("background.jpg") center no-repeat;
  background-size: cover;
}

.hero-container .hero-content {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 10%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.hero-container .hero-content h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 4.5rem;
  color: #fff;
}

.hero-container .hero-content button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 50px;
  width: 150px;
  background-color: #f95959;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
}

.hero-container .hero-content button:hover {
  background-color: #fb8a8a;
}

.trainers-container {
  height: 100vh;
}

.trainers-container .trainers-content {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 1fr 10%;
  -ms-grid-rows: 2fr 8fr;
      grid-template-rows: 2fr 8fr;
}

.trainers-container .trainers-content h3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 2.5rem;
  position: relative;
  padding: 1rem;
}

.trainers-container .trainers-content h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: #f95959;
}

.trainers-container .trainers-content .trainer {
  margin: 1rem;
  width: 100%;
  max-width: 350px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #a5b7cc;
}

.trainers-container .trainers-content .trainer .image-wrapper {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin: 50px;
  width: 75%;
  height: 75px;
}

.trainers-container .trainers-content .trainer .image-wrapper img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.trainers-container .trainers-content .trainer h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2rem;
  color: #fff;
  justify-self: flex-start;
}

.trainers-container .trainers-content .trainer:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.trainers-container .trainers-content .one {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.trainers-container .trainers-content .two {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.trainers-container .trainers-content .three {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.trainers-container .trainers-content div,
.trainers-container .trainers-content h3 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.price-container {
  height: 100vh;
  background-color: #6483a7;
}

.price-container .price-content {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 1fr 10%;
  -ms-grid-rows: 2fr 8fr;
      grid-template-rows: 2fr 8fr;
}

.price-container .price-content h3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 2.5rem;
  position: relative;
  padding: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.price-container .price-content h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: #f95959;
}

.price-container .price-content .prices {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-container .price-content .prices .price {
  margin: 1rem;
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-container .price-content .prices .price img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.price-container .price-content .prices .price h4 {
  position: absolute;
  font-size: 2rem;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
}

.price-container .price-content .prices .price h5 {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 3rem;
  color: #fff;
}

.price-container .price-content .prices .price:hover img {
  width: 101%;
  height: 101%;
}

.contact-container {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.contact-container .contact-content {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
  -ms-grid-rows: 2fr 8fr;
      grid-template-rows: 2fr 8fr;
}

.contact-container .contact-content h3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 2.5rem;
  position: relative;
  padding: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact-container .contact-content h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: #f95959;
}

.contact-container .contact-content form {
  width: 50%;
  height: 80%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: #f95959;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.contact-container .contact-content form .input-group {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5rem 0;
}

.contact-container .contact-content form .input-group label {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.contact-container .contact-content form .input-group input {
  height: 50px;
  border: none;
}

.contact-container .contact-content form .input-group input.focus {
  outline: none;
}

.contact-container .contact-content form .input-group .big {
  height: 200px;
}

.contact-container .contact-content form .btn {
  height: 50px;
  width: 150px;
  margin-top: 1rem;
  background-color: #455d7a;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
}

.contact-container .contact-content form .btn:focus {
  outline: none;
}

.contact-container .contact-content form .btn:hover {
  background-color: #6483a7;
}

footer {
  width: 100%;
  height: 20vh;
  background-color: #000;
  color: #fff;
}

footer .footer-content {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 2fr 1fr 1fr 1fr 10%;
      grid-template-columns: 10% 2fr 1fr 1fr 1fr 10%;
  -ms-grid-rows: 1fr 2fr 1fr 1fr;
      grid-template-rows: 1fr 2fr 1fr 1fr;
}

footer .footer-content .nav-logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-decoration: none;
  justify-self: center;
}

footer .footer-content .nav-logo h2 {
  margin-left: 1rem;
}

footer .footer-content h5 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

footer .footer-content h5 span {
  color: #f95959;
}

footer .footer-content h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

footer .footer-content .social {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

footer .footer-content .navlink {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

footer .footer-content ul {
  list-style: none;
}

footer .footer-content ul li:hover {
  color: #f95959;
}

footer .footer-content .social-list {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

footer .footer-content .links {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

@media (max-width: 768px) {
  .nav-container nav .nav-logo img {
    width: 45px;
    height: 45px;
  }
  .nav-container nav .nav-logo h2 {
    font-size: 1.5rem;
  }
  .nav-container nav ul {
    display: none;
  }
  .topbar {
    display: block;
  }
  .hero-container .hero-content h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    font-size: 3rem;
    color: #fff;
  }
  .trainers-container {
    height: auto;
  }
  .trainers-container .trainers-content {
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
    -ms-grid-rows: 1fr 3fr 3fr 3fr 1fr;
        grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
  }
  .trainers-container .trainers-content h3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .trainers-container .trainers-content .one {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .trainers-container .trainers-content .two {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .trainers-container .trainers-content .three {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .price-container {
    height: auto;
  }
  .price-container .price-content {
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
    -ms-grid-rows: 1fr 4fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;
  }
  .price-container .price-content h3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .price-container .price-content .prices {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price-container .price-content .prices .price {
    width: 225px;
    height: 225px;
  }
  .price-container .price-content .prices .price h4 {
    font-size: 1.5rem;
  }
  .price-container .price-content .prices .price h5 {
    font-size: 2rem;
  }
  .contact-container {
    height: auto;
  }
  .contact-container .contact-content {
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
    -ms-grid-rows: 1fr 3fr;
        grid-template-rows: 1fr 3fr;
  }
  .contact-container .contact-content form {
    width: 90%;
  }
  .contact-container .contact-content form .input-group {
    width: 90%;
  }
  .contact-container .contact-content form .input-group label {
    font-size: 1rem;
  }
  .contact-container .contact-content form .input-group input {
    height: 30px;
  }
  .contact-container .contact-content form .input-group .big {
    height: 100px;
  }
  footer {
    height: auto;
  }
  footer .footer-content {
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  footer .footer-content .nav-logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  footer .footer-content h5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  footer .footer-content .social {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  footer .footer-content .social-list {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  footer .footer-content .navlink {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  footer .footer-content .links {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
}

@media (min-width: 769px) {
  .nav-container nav .hamburger-menu {
    display: none;
  }
  .topbar {
    display: none;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Fjalla One", sans-serif;
  color: black;
}

h2 {
  font-size: 2.3rem;
}

p {
  font-size: 1.5rem;
}

img {
  width: 65px;
  height: 65px;
}

a {
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */